.materia-handling .form-width-n {
  width: 120px;
}

.materia-handling .form-width-s {
  width: 140px;
}

.materia-handling .form-width-m {
  width: 160px;
}

.materia-handling .form-width-l {
  width: 180px;
}

.materia-handling .form-width-xl {
  width: 200px;
}

.materia-handling .form-width-xxl {
  width: 230px;
}

.materia-handling .form-width-xxxl {
  width: 260px;
}

.form-header-margin .el-form-item {
  margin-bottom: 10px;
}
