// 布局类统一样式

.margin-bottom-n {
  margin-bottom: $space-n;
}
.margin-bottom-s {
  margin-bottom: $space-s;
}
.margin-bottom-m {
  margin-bottom: $space-m;
}
.margin-bottom-l {
  margin-bottom: $space-l;
}
.margin-bottom-xl {
  margin-bottom: $space-xl;
}

.padding-s {
  padding: $space-s;
}

// 充满宽度
.width-full {
  width: 100%;
}
// 充满高度
.height-full {
  height: 100%;
}

.el-scroll-full {
  height: 100%;
  > .el-scrollbar__wrap {
    overflow-x: hidden;
  }
}

// 绝对定位充满父级
.absolute-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
