// 间距大小
$space-n: 8px; // 迷你间距
$space-s: 10px; // 小间距
$space-m: 12px; // 中间距
$space-l: 15px; // 大间距
$space-xl: 20px; // 大大间距

// 色值
$border-color-ddd: #dcdfe6;
$border-color-eee: #e4e7ed;
$border-color-fff: #f2f6fc;
