
// 头部样式变量
$header-height: 60px;
$header-background: #ededed;
$header-color: #2a3f54;
$header-padding: 15px;

// 左侧菜单样式变量
$menu-background: #2A3F54;
$menu-color: #fff;
$menu_active_color: #ffd04b;
$menu_width: 200px;
// 主视图区样式变量
$main_base_color: #f2f3f3;
$main_body_padding: 8px;
// 页面标签页样式
